.contact__wrapper {
  padding: 28px 0 24px 0;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  width: 100%;

  @media (max-width: $breakpoints-medium) {
    flex-wrap: wrap;
  }

  .address {
    width: 33%;

    @media (max-width: $breakpoints-medium) {
      width: 100%;
    }
    .logo {
      width: 119px;
      padding-bottom: 10px;
    }
    .p1 {
      font-weight: 500;
      font-size: 18px;
      padding-bottom: 8px;
    }
    .para {
      font-weight: 200;
      font-size: 18px;
      line-height: 149.19%;
    }
  }
  .contact {
    width: 33%;

    @media (max-width: $breakpoints-medium) {
      width: 100%;
    }

    .h1 {
      padding-bottom: 15px;
      // padding-top: 51px;
      font-weight: 500;
      font-size: 24px;
    }
    .p {
      font-weight: 300;
      font-size: 18px;
      line-height: 149.19%;
    }
  }

  .brands {
    width: 33%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;

    @media (max-width: $breakpoints-medium) {
      width: 100%;
    }
  }
}
